/* clors class */
a:hover {
  text-decoration: none;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
}
.bg-white {
  background-color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-color {
  color: rgba(0, 0, 0, 0.6);
}
.brand-color {
  color: #13234c;
}
.bg-brand-color {
  background-color: #13234c;
}
.br {
  border: 1px solid red;
}
#nav nav {
  margin-bottom: 0;
  padding: 0;
}
#nav .navbar .navbar-nav > .nav-item {
  position: relative;
}
#nav .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  display: block;
  padding: 30px 17px;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all linear .3s;
  font-weight: 600;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}
#nav .navbar .navbar-nav .nav-item .nav-link i {
  vertical-align: bottom;
  font-size: 18px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.6);
}
#nav .navbar .navbar-nav .nav-item .nav-link:hover,
#nav .navbar .navbar-nav .nav-item .nav-link:focus {
  text-decoration: none;
  color: #13234c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#nav .navbar .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 85px;
}
#nav .navbar .navbar-nav .nav-item ul {
  transition: all linear .3s;
  width: 220px;
  position: absolute;
  top: 95px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  margin: 0;
  background-color: #ffffff;
  border-top: 2px solid #13234c;
  padding: 15px;
}
#nav .navbar .navbar-nav .nav-item ul li {
  border-bottom: 1px solid #08090b17;
}
#nav .navbar .navbar-nav .nav-item ul li a {
  font-size: 13px;
  display: block;
  padding: 15px 15px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
#nav .navbar .navbar-nav .nav-item ul li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: #11131710;
}
#nav .navbar .navbar-nav .nav-item .active {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#nav .btn-outline-success:hover {
  color: rgba(0, 0, 0, 0.6);
  background: transparent;
}
#nav .btn-outline-success.focus,
#nav .btn-outline-success:focus {
  box-shadow: none;
}
#nav .search-btn:focus .search {
  opacity: 1;
}
#nav .search-box {
  position: relative;
}
#nav .search-box .search {
  opacity: 0;
  width: 0px;
  height: 52px;
  visibility: hidden;
  position: absolute;
  right: 0px;
}
#nav .search-box .search input {
  width: 100%;
  border: 0;
  height: 100%;
}
#nav .search-box .search input:focus {
  border: 0;
  background: #5d5d5d12;
  box-shadow: none;
}
#nav .search-box .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#banner .container-out {
  width: 100%;
  overflow: hidden;
}
#banner .slider-body {
  width: 100%;
  overflow: hidden;
  height: 80vh;
  position: relative;
}
#banner .slider-body .content {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  text-align: center;
}
#banner .slider-body .content h3 {
  font-size: 60px;
  color: white;
  margin: 0 0 0.35em;
  text-transform: uppercase;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-size: 45px !important;
  line-height: 2em !important;
  text-align: center !important;
}
#banner .slider-body .content p {
  font-size: 16px;
  color: white;
  line-height: 1.6em;
  font-family: lato;
  margin-bottom: 2.5em;
  font-weight: 400;
}
#banner .slider-body .content a,
#banner .slider-body .content .lbtn2 {
  border: 2px solid #13234c;
  background: #13234c;
  width: 48%;
  border-radius: 4px;
  float: left;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 5px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#banner .slider-body .content a:hover,
#banner .slider-body .content .lbtn2:hover {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  background: transparent;
}
#banner .slider-body .content .lbtn2 {
  background-color: #ffffff;
  color: #13234c;
  border: 2px solid white;
}
#banner .slider-body .content .btns {
  width: 500px;
  overflow: hidden;
  padding: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 9999999;
}
#banner .slider-body button:focus {
  box-shadow: none;
}
#banner #banner .owl-carousel .owl-nav button.owl-next:focus {
  box-shadow: none;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next,
#banner .owl-carousel .owl-nav .owl-prev {
  color: white;
  border-radius: 0;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next span,
#banner .owl-carousel .owl-nav .owl-prev span {
  font-size: 70px;
  line-height: 0;
  display: block;
  padding: 70px 6px;
  padding-top: 50px;
}
#banner .owl-nav {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}
#banner .owl-carousel .owl-nav button.owl-next {
  float: right;
}
#banner .owl-carousel .owl-nav button.owl-prev {
  float: left;
}
#banner #banner .owl-carousel .owl-dot:focus,
#banner #banner .owl-carousel .owl-nav .owl-next span:focus,
#banner #banner .owl-carousel .owl-nav .owl-prev span:focus {
  box-shadow: none;
  border: none;
}
button:focus {
  box-shadow: none;
}
:focus {
  box-shadow: none;
}
#module {
  background: #f7f8fc;
  padding-bottom: 140px;
}
#module .common-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2em;
  text-align: center;
  padding: 40px 0px;
}
#module p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  text-align: justify;
  padding: 0px 20px;
}
#module .module-body {
  width: 100%;
  overflow: visible;
}
#module .module-body .single-module {
  width: 100%;
  margin-bottom: 30px;
  overflow: visible;
  background: white;
  border: 1px solid #f5f4f9;
}
#module .module-body .single-module .icon {
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
#module .module-body .single-module .icon img {
  width: 100%;
}
#module .module-body .single-module h3 {
  font-size: 18px;
  color: #13234c;
  line-height: 100px;
  height: 100px;
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}
#video-agency {
  padding-bottom: 100px;
}
#video-agency .video-body {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  margin-top: -70px;
  overflow: hidden;
  position: relative;
}
#video-agency .video-body .video-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
#video-agency .video-body .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#video-agency .video-body .play-button i {
  color: white;
  font-size: 130px;
  cursor: pointer;
}
#video-agency .video-body video {
  width: 100%;
  cursor: pointer;
}
#video-agency .lowbottom {
  padding-top: 100px;
}
#video-agency .lowbottom h4 {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff !important;
  line-height: 1.2em;
}
#video-agency .lowbottom p {
  font-size: 14px;
  color: white;
}
#video-agency .lowbottom .form-body {
  padding: 30px 15px 15px;
  width: 100%;
  overflow: visible;
  border-radius: 5px;
  background: #0e204c;
  padding: 4px;
  box-sizing: border-box;
}
#video-agency .lowbottom .form-body form {
  width: 100%;
}
#video-agency .lowbottom .form-body form .input-field {
  width: 100%;
  border-radius: 5px;
  height: 52px;
  position: relative;
}
#video-agency .lowbottom .form-body form .input-field input,
#video-agency .lowbottom .form-body form .input-field select {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}
#video-agency .lowbottom .form-body form .input-field i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 31px;
  line-height: 50px;
  padding: 0px 17px;
  color: #808080;
  text-align: center;
  background: #E7E8EC;
  border: 1px solid #B0B0B5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#footer .footer-top {
  text-align: center;
  padding-top: 11vw;
  padding-bottom: 2vw;
}
#footer .footer-top p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 2em;
  text-align: center;
}
#footer .footer-top h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4em;
  padding-bottom: 50px;
}
#footer .footer-top a {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  color: #13234c;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#footer .footer-bottom {
  overflow: hidden;
  width: 100%;
  padding: 50px 0px;
}
#footer .footer-bottom h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}
#footer .footer-bottom ul li {
  list-style-type: circle;
  margin-left: 15px;
}
#footer .footer-bottom ul li a {
  color: white;
  padding: 10px 0px;
  display: block;
}
#footer .footer-bottom ul li a i {
  display: inline-block;
  padding-right: 10px;
  height: 100%;
}
#footer .footer-bottom .first a {
  padding-bottom: 20px;
  display: block;
  color: white;
}
#footer .footer-bottom .first p {
  text-align: justify;
}
#footer .footer-bottom .first p a {
  padding: 10px 0px 0px;
}
#footer .bottom {
  width: 100%;
  background-color: #13234c;
  padding: 10px 0px;
  color: white;
  margin: 0;
  font-size: 16px;
  line-height: 38px;
}
