/* clors class */
a:hover {
  text-decoration: none;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background: white;
}
.bg-white {
  background-color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-color {
  color: rgba(0, 0, 0, 0.6);
}
.brand-color {
  color: #13234c;
}
p {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2em;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  line-height: 1.2em;
  text-align: left;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
}
.bg-brand-color {
  background-color: #13234c;
}
.br {
  border: 1px solid red;
}
#nav nav {
  margin-bottom: 0;
  padding: 0;
}
#nav .navbar .navbar-nav > .nav-item {
  position: relative;
}
#nav .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  display: block;
  padding: 30px 17px;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all linear .3s;
  font-weight: 600;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}
#nav .navbar .navbar-nav .nav-item .nav-link i {
  vertical-align: bottom;
  font-size: 18px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.6);
}
#nav .navbar .navbar-nav .nav-item .nav-link:hover,
#nav .navbar .navbar-nav .nav-item .nav-link:focus {
  text-decoration: none;
  color: #13234c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#nav .navbar .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 85px;
}
#nav .navbar .navbar-nav .nav-item ul {
  transition: all linear .3s;
  width: 220px;
  position: absolute;
  top: 95px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  margin: 0;
  background-color: #ffffff;
  border-top: 2px solid #13234c;
  padding: 15px;
}
#nav .navbar .navbar-nav .nav-item ul li {
  border-bottom: 1px solid #08090b17;
}
#nav .navbar .navbar-nav .nav-item ul li a {
  font-size: 13px;
  display: block;
  padding: 15px 15px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
#nav .navbar .navbar-nav .nav-item ul li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: #11131710;
}
#nav .navbar .navbar-nav .nav-item .active {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#nav .btn-outline-success:hover {
  color: rgba(0, 0, 0, 0.6);
  background: transparent;
}
#nav .btn-outline-success.focus,
#nav .btn-outline-success:focus {
  box-shadow: none;
}
#nav .search-btn:focus .search {
  opacity: 1;
}
#nav .search-box {
  position: relative;
}
#nav .search-box .search {
  opacity: 0;
  width: 0px;
  height: 52px;
  visibility: hidden;
  position: absolute;
  right: 0px;
}
#nav .search-box .search input {
  width: 100%;
  border: 0;
  height: 100%;
}
#nav .search-box .search input:focus {
  border: 0;
  background: #5d5d5d12;
  box-shadow: none;
}
#nav .search-box .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#banner .container-out {
  width: 100%;
  overflow: hidden;
}
#banner .slider-body {
  width: 100%;
  overflow: hidden;
  height: 80vh;
  position: relative;
}
#banner .slider-body .content {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  text-align: center;
}
#banner .slider-body .content h3 {
  font-size: 60px;
  color: white;
  margin: 0 0 0.35em;
  text-transform: uppercase;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-size: 45px !important;
  line-height: 2em !important;
  text-align: center !important;
}
#banner .slider-body .content p {
  font-size: 16px;
  color: white;
  line-height: 1.6em;
  font-family: lato;
  margin-bottom: 2.5em;
  font-weight: 400;
}
#banner .slider-body .content a,
#banner .slider-body .content .lbtn2 {
  border: 2px solid #13234c;
  background: #13234c;
  width: 48%;
  border-radius: 4px;
  float: left;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 5px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#banner .slider-body .content a:hover,
#banner .slider-body .content .lbtn2:hover {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  background: transparent;
}
#banner .slider-body .content .lbtn2 {
  background-color: #ffffff;
  color: #13234c;
  border: 2px solid white;
}
#banner .slider-body .content .btns {
  width: 500px;
  overflow: hidden;
  padding: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 9999999;
}
#banner .slider-body button:focus {
  box-shadow: none;
}
#banner #banner .owl-carousel .owl-nav button.owl-next:focus {
  box-shadow: none;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next,
#banner .owl-carousel .owl-nav .owl-prev {
  color: white;
  border-radius: 0;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next span,
#banner .owl-carousel .owl-nav .owl-prev span {
  font-size: 70px;
  line-height: 0;
  display: block;
  padding: 70px 6px;
  padding-top: 50px;
}
#banner .owl-nav {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}
#banner .owl-carousel .owl-nav button.owl-next {
  float: right;
}
#banner .owl-carousel .owl-nav button.owl-prev {
  float: left;
}
#banner #banner .owl-carousel .owl-dot:focus,
#banner #banner .owl-carousel .owl-nav .owl-next span:focus,
#banner #banner .owl-carousel .owl-nav .owl-prev span:focus {
  box-shadow: none;
  border: none;
}
button:focus {
  box-shadow: none;
}
:focus {
  box-shadow: none;
}
#module {
  background: #f7f8fc;
  padding-bottom: 140px;
}
#module .common-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2em;
  text-align: center;
  padding: 40px 0px;
}
#module p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  text-align: justify;
  padding: 0px 20px;
}
#module .module-body {
  width: 100%;
  overflow: visible;
}
#module .module-body .single-module {
  width: 100%;
  margin-bottom: 30px;
  overflow: visible;
  background: white;
  border: 1px solid #f5f4f9;
}
#module .module-body .single-module .icon {
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
#module .module-body .single-module .icon img {
  width: 100%;
}
#module .module-body .single-module h3 {
  font-size: 18px;
  color: #13234c;
  line-height: 100px;
  height: 100px;
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}
#video-agency {
  padding-bottom: 100px;
}
#video-agency .video-body {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  margin-top: -70px;
  overflow: hidden;
  position: relative;
}
#video-agency .video-body .video-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
#video-agency .video-body .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#video-agency .video-body .play-button i {
  color: white;
  font-size: 130px;
  cursor: pointer;
}
#video-agency .video-body video {
  width: 100%;
  cursor: pointer;
}
#video-agency .lowbottom {
  padding-top: 100px;
}
#video-agency .lowbottom h4 {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff !important;
  line-height: 1.2em;
}
#video-agency .lowbottom p {
  font-size: 14px;
  color: white;
}
#video-agency .lowbottom .form-body {
  padding: 30px 15px 15px;
  width: 100%;
  overflow: visible;
  border-radius: 5px;
  background: #0b193d;
  padding: 4px;
  box-sizing: border-box;
}
#video-agency .lowbottom .form-body form {
  width: 100%;
  padding: 50px;
}
#video-agency .lowbottom .form-body form .input-field {
  width: 100%;
  border-radius: 5px;
  height: 52px;
  position: relative;
  margin-bottom: 20px;
}
#video-agency .lowbottom .form-body form .input-field input,
#video-agency .lowbottom .form-body form .input-field select {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  padding-left: 67px;
  font-family: 'roboto', sans-serif;
}
#video-agency .lowbottom .form-body form .input-field select {
  padding: 15px;
}
#video-agency .lowbottom .form-body form .input-field i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 23px;
  line-height: 50px;
  padding: 0px 17px;
  color: #808080;
  text-align: center;
  background: #E7E8EC;
  border: 1px solid #B0B0B5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#video-agency .lowbottom .form-body form button {
  height: 45px;
  width: 100px;
  max-width: 100%;
  display: inline-block;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 18px !important;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  line-height: 1.3;
  background: #233665;
  color: #FFFFFF !important;
  border: 2px solid #233665;
  background-position: left top;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#C6C8CC')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#C6C8CC');
  padding: 0 10px;
  vertical-align: top;
  text-transform: none;
  text-shadow: none;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-top: 20px;
}
#key-takeways {
  padding: 100px 0px;
  background-color: white;
}
#key-takeways .key-body {
  overflow: visible;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 30px;
}
#key-takeways .key-body .icon img {
  width: auto;
}
#key-takeways .key-body h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', 'sans-serif';
  color: black;
  padding: 15px 0px;
  text-align: center;
}
#key-takeways .key-body p {
  line-height: 1.8em;
  color: rgba(0, 0, 0, 0.6);
}
#who-can-take {
  background: white;
  padding: 100px 0px;
}
#who-can-take h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
  padding-bottom: 50px;
}
#who-can-take .course-body {
  overflow: visible;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
#who-can-take .course-body .course-image {
  overflow: hidden;
  width: 100%;
  height: 206px;
  margin-bottom: 15px;
}
#who-can-take .course-body .course-image img {
  width: 100%;
}
#who-can-take .course-body h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7em;
  text-transform: uppercase;
}
#who-can-take .course-body p {
  line-height: 1.8em;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
#student-voice {
  padding-bottom: 100px;
  background: white;
}
#student-voice .voice-bg {
  background-image: linear-gradient(135deg, #13234c 0%, #2347aa 100%) !important;
  padding: 50px;
  border-radius: 30px;
}
#student-voice .voice-bg .voice-body {
  widows: 100%;
  overflow: hidden;
  color: white;
}
#student-voice .voice-bg .voice-body i {
  font-size: 28px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  padding: 19px;
}
#student-voice .voice-bg .voice-body h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 1.2em;
  padding: 15px 0px;
}
#student-voice .voice-bg .voice-body h4 {
  font-weight: 600 !important;
  font-size: 25px !important;
  padding-bottom: 10px;
}
#student-voice .voice-bg .voice-body img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
#student-voice .voice-bg .voice-body p {
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
}
#digital-sc {
  padding: 100px 0px 150px;
  background: white;
}
#digital-sc h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
  padding-bottom: 70px;
}
#digital-sc .body {
  width: 100%;
  overflow: visible;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
#digital-sc .body .img {
  width: 100%;
  height: 198px;
  overflow: hidden;
}
#digital-sc .body .img img {
  width: 100%;
}
#digital-sc .body h3 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  padding-top: 30px;
}
#digital-sc .body span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
#digital-sc .body p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
}
#digital-sc .body a {
  color: #fff;
  position: relative;
  top: 30px;
  left: 22%;
  border-width: 0px !important;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-image: linear-gradient(90deg, #13234c 0%, #205787 100%) !important;
  padding-top: 12px !important;
  padding-right: 20px !important;
  padding-bottom: 12px !important;
  padding-left: 20px !important;
}
#partners {
  padding: 100px 0px 70px;
  background: white;
}
#partners h2 {
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
}
#partners .img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
#partners .img img {
  width: 80%;
}
#breadcumb .overlay {
  padding: 100px 0px;
}
#breadcumb h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.2em;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
#mission-vission {
  padding-bottom: 100px;
}
#mission-vission .vission-body {
  padding: 100px;
  margin: 0px 100px;
  margin-top: -80px;
  overflow: visible;
  border-radius: 10px;
  background: white;
}
#mission-vission .vission-body p {
  line-height: 2em;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}
#mission-vission .vission-body h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  line-height: 1.2em;
  text-align: left;
}
#mission-vission .vission-body ul li {
  list-style-type: circle;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}
#our-approach ul li {
  font-weight: 700;
  background: white;
  border-radius: 10px;
  padding: 20px 25px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
#our-approach ul li:after {
  position: absolute;
  background: purple;
  left: 0;
  top: 0;
  width: 6px;
  content: '';
  height: 100%;
}
#our-approach ul li:nth-child(2):after {
  background: #1ed8ad;
}
#our-approach ul li:nth-child(3):after {
  background: #f48066;
}
#our-approach ul li:nth-child(4):after {
  background: #5da6ef;
}
#our-approach ul li:nth-child(5):after {
  background: #a8b54a;
}
#founder {
  padding: 100px 0px;
  background-color: #ffffff;
}
#founder h2 {
  padding-bottom: 50px;
}
#our-team,
#career,
#growth,
#trainers {
  padding: 100px 0px;
  background-color: #ffffff;
}
#our-team .team-body,
#career .team-body,
#growth .team-body,
#trainers .team-body {
  margin-bottom: 30px;
  width: 100%;
  overflow: visible;
  padding: 35px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#our-team .team-body .img,
#career .team-body .img,
#growth .team-body .img,
#trainers .team-body .img {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin: 0 auto 10px;
}
#our-team .team-body .img img,
#career .team-body .img img,
#growth .team-body .img img,
#trainers .team-body .img img {
  width: 100%;
}
#our-team .team-body h3,
#career .team-body h3,
#growth .team-body h3,
#trainers .team-body h3 {
  font-size: 26px;
  text-transform: capitalize;
  padding: 6px 0px;
  margin: 0;
}
#our-team .team-body span,
#career .team-body span,
#growth .team-body span,
#trainers .team-body span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
#trainers {
  background: transparent;
  padding-top: 0;
}
#trainers .team-body .img {
  width: 200px;
  height: 200px;
}
#trainers .team-body .img img {
  width: 100%;
  height: 100%;
}
#trainers .team-body .img p {
  text-align: justify;
}
#growth .list,
.growth .list {
  padding: 30px 50px;
  line-height: 30px;
  position: relative;
  font-weight: 600;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
}
#growth .list:after,
.growth .list:after {
  position: absolute;
  content: '';
  background: purple;
  height: 100%;
  left: 0;
  width: 5px;
  top: 0;
}
#growth .list p,
.growth .list p {
  line-height: 20px;
}
#career {
  padding-top: 0;
}
#career .list {
  padding: 30px;
  height: 200px;
  margin-bottom: 50px;
}
#tbreadcumb .overlay {
  padding: 100px 0px 150px;
}
#tbreadcumb h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3em;
  text-align: center;
  color: white;
}
#tbreadcumb p {
  color: white;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0px;
}
#tbreadcumb a {
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: #13234c !important;
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  margin-left: 35%;
}
#course-overview {
  padding: 100px 0px 130px;
}
#course-overview h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2em;
  text-align: left;
}
#course-overview p {
  font-size: 18px;
  padding: 20px 0px;
}
#course-overview a {
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: #fff !important;
  background: #13234c;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
#course-overview .img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
#footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#footer .footer-top {
  text-align: center;
  padding-top: 11vw;
  padding-bottom: 2vw;
}
#footer .footer-top p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 2em;
  text-align: center;
}
#footer .footer-top h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4em;
  padding-bottom: 50px;
}
#footer .footer-top a {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  color: #13234c;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
#footer .footer-bottom {
  overflow: hidden;
  width: 100%;
  padding: 50px 0px;
}
#footer .footer-bottom h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}
#footer .footer-bottom ul li {
  list-style-type: circle;
  margin-left: 15px;
}
#footer .footer-bottom ul li a {
  color: white;
  padding: 10px 0px;
  display: block;
}
#footer .footer-bottom ul li a i {
  display: inline-block;
  padding-right: 10px;
  height: 100%;
}
#footer .footer-bottom .first a {
  padding-bottom: 20px;
  display: block;
  color: white;
}
#footer .footer-bottom .first p {
  text-align: justify;
}
#footer .footer-bottom .first p a {
  padding: 10px 0px 0px;
}
#footer .bottom {
  width: 100%;
  background-color: #13234c;
  padding: 20px 0px 1px;
  color: white;
}
